@import './variables.scss';

@mixin d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin d-flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
