// component variables

$shadow-el: 10px 10px 91px rgba(0, 0, 0, 0.13);
$border-radius: 10px;
$input-radius: 27px;
$input-height: 54px;

// colors

$color-primary: #1e85fe;
$color-primary-hover: darken($color-primary, 10%);

$color-text-primary: #555a69;
$color-text-secondary: #b2becc;
$color-background: #b1c9f9;
$color-border: #d1d1d1;

$color-red: #ff3d57;
$color-gray: #787985;
$color-white: #fff;
